@charset "utf-8";
/* CSS Document */

div.pagination {
	padding: 3px;
	margin: 3px;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #036596;
	
	text-decoration: none; /* no underline */
	color: #036596;
}
div.pagination a:hover, div.pagination a:active {
	border: 1px solid #000;

	color: #000;
}
div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
		border: 1px solid #edf9fe;
		
		font-weight: bold;
		background-color: #edf9fe;
		color: #000;
	}
	div.pagination span.disabled {
		padding: 2px 5px 2px 5px;
		margin: 2px;
		border: 1px solid #036596;
	
		color: #DDD;
	}