@charset "utf-8";
/* CSS Document */

*{padding:0px; margin:0px}

ul{list-style:none}

@font-face {
font-family: 'MyriadPro-Regular';
src: url('../fonts/MyriadPro-Regular.eot');
src: url('../fonts/MyriadPro-Regular?#iefix') format('embedded-opentype'),
     url('../fonts/MyriadPro-Regular.woff') format('woff'),
     url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
	 url('../fonts/MyriadPro-Regular.otf') format('opentype'),
     url('../fonts/MyriadPro-Regular.svg') format('svg');
font-weight: normal;
font-style: normal;
}

body{background:url(../images/bg.gif) repeat-x; font-family:MyriadPro-Regular; font-weight:normal; font-size:14px; color:#434343}

.clr{clear:both}

.right{float:right}

.left{float:left}

#main_wraper{width:980px; margin:0px auto}

.logo{width:230px; margin:13px 0px 14px 20px; float:left}

.nav{width:600px; float:left; margin-bottom:14px}

.nav ul li{background:url(../images/nav_division.gif) no-repeat right top; padding:10px 18px 0px 18px; float:left; height:31px}

.nav ul li.last{background:none}

.nav ul li a{color:#FFFFFF; text-decoration:none; font-weight:normal}

.nav ul li a:hover, .active{color:#ffd871 !important; text-decoration:none; font-weight:normal}

.list{width:225px; border:1px solid #aaaaaa; padding:2px; height:22px}

.list01{width:100px; border:1px solid #aaaaaa; padding:2px; height:22px}

.list02{width:50px; border:1px solid #aaaaaa; padding:2px; height:22px}

.submit{width:56px; height:21px; background:url(../images/submit.gif) no-repeat; border:0px; cursor:pointer}

.stock{width:90px; height:31px; background:url(../images/stock.jpg) no-repeat; border:0px; cursor:pointer; margin-left:10px; margin-top:1px;}
.add_sale_order{width:90px; height:31px; background:url(../images/add_sale_order.jpg) no-repeat; border:0px; cursor:pointer; margin-left:10px; margin-top:1px;}
.list{width:90px; height:31px; background:url(../images/list.jpg) no-repeat; border:0px; cursor:pointer;}
.add_order{width:90px; height:31px; background:url(../images/add_order.png) no-repeat; border:0px; cursor:pointer;}
.update{width:90px; height:31px; background:url(../images/update.jpg) no-repeat; border:0px; cursor:pointer; margin-left:10px;}

.submit1{width:56px; height:21px; border:1px solid black; background:#orange; cursor:pointer}

.search1{width:56px; height:21px; background:url(../images/search.gif) no-repeat; border:0px; cursor:pointer}

.continue{background:url(../images/continue.gif) no-repeat; width:85px; height:21px; border:0px;
cursor:pointer}

.back{background:url(../images/back.gif) no-repeat; width:65px; height:21px; border:0px;
cursor:pointer}

.reset{background:url(../images/reset.gif) no-repeat; width:49px; height:21px; border:0px; cursor:pointer}

.text_field{width:45px; border:1px solid #aaaaaa; padding:2px; height:18px}

.text_field01{width:150px; border:1px solid #819d9d; padding:2px; height:20px; background:#e7efef;}

.textarea{width:250px; border:1px solid #819d9d; padding:2px; height:100px; background:#e7efef;}

.drop_down{width:150px; border:1px solid #819d9d; padding:2px; height:26px; background:#e7efef;}

.drop_down_multiple{ border:1px solid #819d9d; padding:2px; background:#e7efef; height:100px}

.text_field02{width:70px; border:1px solid #819d9d; padding:2px; height:18px; background:#e7efef;}

.text_area{width:170px; border:1px solid #819d9d; padding:2px; height:40px; background:#e7efef;}

.text_area01{width:250px; border:1px solid #819d9d; padding:2px; height:100px; background:#e7efef;}

.left_colum{width:270px; float:left}

.right_colum{width:640px; float:right}

.footer_bg{width:100%; background:#047821; height:30px; padding:15px 0px; float:left; margin-top:20px; }

.footer_wraper{width:980px; margin:0px auto}

.width01{width:450px; float:left}

.button{width:80px; border:1px solid #819d9d; padding:2px; height:40px; background:#e7efef;}

.button01{background:#858585; width:70px; height:24px; color:#FFFFFF; cursor:pointer; text-align:center; border:0px}

.button02{background:#858585; width:140px; height:24px; color:#FFFFFF; cursor:pointer; text-align:center; border:0px}


/*************** link ****************/
.link{color:#626262; text-decoration:none; font-weight:normal}

.link:hover{color:#ff7e01; text-decoration:none; font-weight:normal}

.link01{color:#FFFFFF; text-decoration:none; font-weight:normal}

.link01:hover{color:#ffd871; text-decoration:none; font-weight:normal}

.link02{color:#ffd871; text-decoration:none; font-weight:normal}

.link02:hover{color:#FFFFFF; text-decoration:none; font-weight:normal}

.link03{color:#ff7e00; text-decoration:none; font-weight:normal}

.link03:hover{color:#626262; text-decoration:none; font-weight:normal}

/***************** text ******************/

.text01{color:#ff7e00; text-decoration:none; font-weight:normal;}

h2{color:#ff7e00; text-decoration:none; font-size:16px; font-weight:normal;}

h3{color:#fff; text-decoration:none; font-size:16px; font-weight:normal;}

.text02{color:#fff; font-size:13px}

.text03{color:#fff;}


/**************** border ******************/

.border01{border:1px solid #bac8c8; background:#FFFFFF; width:978px}

.border02{width:520px; padding:15px; border-left:1px solid #bac8c8;
border-right:1px solid #bac8c8; border-bottom:1px solid #bac8c8; background:#FFFFFF;}

/*************** br ****************/

.bg01{width:954px; background:#e7efef; height:20px; padding:10px 12px }

.bg02{background:url(../images/bg01.gif) repeat-x; padding: 10px 6px; height:22px; width:258px}

.bg03{background:#e7efef; border-left:1px solid #537e8e; border-right:1px solid #537e8e;
border-bottom:1px solid #537e8e; padding:30px 15px; width:238px}

.bg04{background:#047821}

.bg05{background:#dffffd; padding:6px}

.bg06{background:#fff; padding:6px}

.bg07{background:url(../images/bg01.gif) repeat-x; padding: 10px 14px; height:22px; width:524px}

.bg011{background:url(../images/bg01.gif) repeat-x; padding: 10px 14px; height:22px; width:200px}

.bg08{background:#e7efef; padding:10px}

.bg09{background:#537f8e; padding:8px}

.bg10{background:url(../images/bg01.gif) repeat-x; padding: 10px 14px; height:22px;}
.bg11{background:url(../images/bg01.gif) repeat-x; padding: 10px 14px; height:22px; width:950px; border-top: 1px solid #bac8c8; border-left: 1px solid #bac8c8; border-right: 1px solid #bac8c8;}
.row0{background:#e7efef}

.row1{background:#FFF}

/*************** padding *************/

.padding01{width:948px; padding:1px; min-height:700px;}
.padding02{padding:1px; min-height:700px;}

.padding01_lft{width:554px; padding:1px; min-height:700px; float:left;}
.padding01_rit{width:418px; padding:1px; min-height:700px; float:left;}

.blank_list {
width:200px;
float:right;
}